server:
  port: 8081
  servlet:
    context-path: /
spring:
  application:
    name: user-service
  jpa:
    database: postgresql
    show-sql: true
    hibernate:
      ddl-auto: create
  datasource:
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}
    driverClassName: org.postgresql.Driver
  sql:
    init:
      mode: always
      encoding: utf-8
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: ${JWT_ISSUER_URL}
logging:
  level:
    org:
      hibernate:
        SQL: debug

eureka:
  client:
    service-url:
      defaultZone: ${EUREKA_SERVER_URL}
    fetch-registry: true
    register-with-eureka: true
  instance:
    prefer-ip-address: true
    hostname: user-service
    ip-address: user-service

services:
  authentication:
    url: ${AUTHENTICATION_SERVICE_URL}
