server:
  port: 8081
  servlet:
    context-path: /
spring:
  config:
    activate:
      on-profile: local
  application:
    name: user-service
  jpa:
    database: postgresql
    show-sql: true
    hibernate:
      ddl-auto: update
  datasource:
    url: jdbc:postgresql://localhost:5432/user_service
    username: admin
    password: admin
    driverClassName: org.postgresql.Driver
  sql:
    init:
      mode: always
      encoding: utf-8
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://localhost:8080/realms/local-realm
logging:
  level:
    org:
      hibernate:
        SQL: debug
      springframework:
        security: trace

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
    fetch-registry: true
    register-with-eureka: true
  instance:
    prefer-ip-address: false
    hostname: localhost

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics
  endpoint:
    health:
      show-details: always

services:
  authentication:
    url: http://AUTHENTICATION-SERVICE