spring:
  config:
    activate:
      on-profile: test
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://localhost:8080/realms/local-realm

services:
  authentication:
    url: http://AUTHENTICATION-SERVICE